.mouse {
  position: absolute;
  right: 24px;
  bottom: 24px;
  width: 75px;
  display: none;

  @media (min-width: 768px)  {
    display: block;
  }

  &_element {
    position: relative;
    width: 34px;
    height: 54px;
    border: 2px solid var(--mouseColor);
    border-radius: 31px;
    background: transparent;
    margin: 0 auto 12px auto;

    &::after {
      content: '';
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      display: block;
      width: 2px;
      height: 8px;
      background: var(--mouseScroll);
      border-radius: 24px;
      animation: mouseScroll 3s ease-in-out infinite;
    }
  }

  &_text {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: var(--mouseColor);
    display: block;
    text-align: center;
  }
}

@keyframes mouseScroll {
  0% {
    top: 10px;
  }
  50% {
    top: 15px;
  }
  100% {
    top: 10px;
  }
}
